body {
  padding-top: 70px; }

.navbar-default {
  background-color: #2c3e50; }
  .navbar-default .container .navbar-header .navbar-brand, .navbar-default .container .navbar-header .glyphicon {
    color: white; }
  .navbar-default .container .navbar-header .navbar-toggle {
    background-color: initial; }
  .navbar-default .navbar-nav li a {
    color: white; }
    .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:visited {
      color: white;
      text-decoration: underline; }

.container .jumbotron {
  background-color: #ecf0f1; }
  .container .jumbotron h1 {
    color: #2c3e50;
    display: table; }
    .container .jumbotron h1 span {
      display: table-cell;
      vertical-align: middle; }
    @media screen and (max-width: 410px) {
      .container .jumbotron h1 {
        font-size: 30px; } }
